#main {
    width: 380px;
    border: 2px solid #4d7aa2;
    border-radius: 9px;
    padding: 34px 70px;
    display: block;
    margin: auto;
}

#main .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .time {
    background-color: #ddd;
    padding: 5px 0;
    width: 100%;
}

.time p {
    margin: 8px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.form-group {
    width: 100%;
    display: flex;
    margin-bottom: 15px;

}

.form-group .form-label {
    width: 30%;
    text-align: center;
    background-color: #5b9bd5;
    padding: 12px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
    margin-right: 15px;
    color: #fff;


}

.form-group .form-input {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 0;
}



.form-group .form-input input[type="text"] {
    width: 100%;
    font-size: 24px;
    padding: 8px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

.form-group .form-input input[type="radio"] {
    border: 1px solid #4d7aa2;
    background-color: #5b9bd5;
}

.form-group .form-input .radio-label {
    margin-left: 8px;
}

.form-group .form-input #pkhoa {
    width: 100%;
    font-size: 20px;
    padding: 10px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

.form-group .form-input #pkhoa:focus,
.form-group .form-input input[type="text"]:focus {
    border: 2px solid #4d7aa2;
}

.form-group .form-input .radio-group {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}

.form-group .form-input .radio-group label {
    font-size: 20px;
}

form .submit-btn {
    text-align: center;
    width: 120px;
    color: #fff;
    background-color: #70ad47;
    font-size: 14px;
    padding: 12px;
    border: 2px solid #4d7aa2;
    border-radius: 6px;
}